{% trans_default_domain 'RecognizeAdminThemeBundle' %}

{% if admin_profile_image is not defined %}
    {% set admin_profile_image = asset('admintheme/images/default-profile-image.png') %}
{% endif %}
{% if admin_profile_username is not defined %}
    {% set admin_profile_username = "Account" %}
{% endif %}
{% set container_class = "" %}
{% if mobile_open_profile is defined %}
{% set container_class = "mobile-open" %}
{% endif %}

<div class="profile tabfocus {{ container_class }}" aria-label="Toggle account options" tabindex="0">
    <div class="clearfix">
        <img src="{{ admin_profile_image }}" class="avatar" />
        <p class="username">{{ admin_profile_username }}</p>
    </div>

    <ul class="options" role="menu">
        {% if admin_profile_languages is defined and admin_profile_languages is not empty %}
        <li class="no-hover-style"><p class="language-title">{{ 'select.languages'|trans }}</p></li>
        <li class="no-hover-style">{% include 'RecognizeAdminThemeBundle::components/languagepicker.html.twig'
            with {'admin_profile_languages': admin_profile_languages, 'current': app.request.locale } %}
        </li>
        <li class="divider"></li>
        {% endif %}
        <li><a href="{{ path('fos_user_profile_show') }}"><span>{{ 'profile.settings'|trans }}</span><i class="fa fa-gears"></i></a></li>
        <li><a href="{{ path('fos_user_security_logout') }}"><span>{{ 'profile.logout'|trans }}</span><i class="fa fa-power-off"></i></a></li>
    </ul>
</div>