{% extends 'RecognizeAdminThemeBundle::base.html.twig' %}
{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/recognizeselectbox/select2/select2.full.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/recognizewysiwyg/ckeditor/ckeditor.js ') }}"></script>
{% endblock %}
{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/recognizeselectbox/select2/select2.css') }}"/>
{% endblock %}

{% block body %}
{% block topbar %}{% include('RecognizeAdminThemeBundle::components/topbar.html.twig') %}{% endblock %}
<div class="content-area">
    {% block mainmenu %}{% include('RecognizeAdminThemeBundle::components/menu.html.twig') %}{% endblock %}
    <div class="content">{% block content %}
        <div class="clearfix">
            {% include('RecognizeAdminThemeBundle::examples/form.html.twig') %}
            <p>B</p><p>B</p><p>B</p><p>B</p><p>B</p><p>B</p><p>B</p><p>B</p><p>B</p><p>B</p><p>B</p><p>B</p><p>B</p><p>B</p><p>B</p><p>B</p><p>B</p><p>B</p><p>B</p>
            <p>B</p><p>B</p><p>B</p><p>B</p><p>B</p><p>B</p><p>B</p><p>B</p><p>B</p><p>B</p><p>B</p><p>B</p><p>B</p><p>B</p><p>B</p><p>B</p><p>B</p><p>B</p><p>B</p>
        </div>
        {% endblock %}
    </div>
</div>
{% endblock %}
