{% extends 'RecognizeAdminThemeBundle::index.html.twig' %}
{% trans_default_domain 'filemanager' %}
{% block scripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/recognizefilemanager/js/jstree.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/recognizefilemanager/js/FilemanagerEventHandler.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/recognizefilemanager/js/FileTree.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/recognizefilemanager/js/FilemanagerApi.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/recognizefilemanager/js/FileTreeView.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/recognizefilemanager/js/filemanager.jquery.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/recognizefilemanager/themes/bootstrap/style.css') }}" />

{% endblock %}
{% block mainmenu %}{% include('RecognizeAdminThemeBundle::examples/components/menu-filemanager.html.twig') %}{% endblock %}
{% block content %}
<div class="filetree">
    <h2>Filemanager</h2>

    <div class="titlebar">
        <div class="row">
            <!-- Titlebar goes here -->
        </div>
    </div>
    <div class="row">
        <div class="directories col-sm-3 hidden-xs">
            <!-- Directories go here -->
        </div>
        <div class="mainview col-sm-9 col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>{{ 'file.name'|trans }}</th>
                            <th>{{ 'file.size'|trans }}</th>
                            <th>{{ 'file.date_modified'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Content go here -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('.filetree').filemanager({ debug: true,
            api: { url: window.location.origin + "/admin/fileapi", startingDirectory: "" },
            elements: { title: '.titlebar .row', main: '.mainview tbody' },
            titledirectoryFormat: function( current_directory ){
                var up_icon = "<i class=\"fa fa-flip-horizontal fa-level-up pull-left\"></i>";
                var folder_icon = "<i class=\"fa fa-folder-open pull-left\"></i>";
                var icon = "";
                if( current_directory !== "" ){
                    icon = up_icon + folder_icon;
                }

                current_directory = "/" + current_directory;
                return "<a href=\"#\" class=\"col-sm-6 col-xs-12 btn btn-primary\">" + icon + "<span class=\"pull-left\">" + current_directory + "</span></a>";
            },

            searchelementFormat: function( element ){
                element.addClass('form-control');
                return $("<div class=\"search-col col-sm-3 col-xs-12\"></div>").append( element );
            },

            filerowFormat: function( file ){

                // Set the icon as a file or a directory
                var icon = "<i class=\"fa fa-file-o pull-left\"></i>";
                if( file.type == "dir" ){
                    icon = "<i class=\"fa fa-folder-open pull-left\"></i>";;
                }

                return "<tr><td class=\"col-sm-3 col-xs-6\">" + icon + file.name + "</td><td class=\"col-xs-1\">" + file.size  + "</td><td class=\"col-xs-1\">" + file.date_modified  + "</td></tr>";
            }
        });
    </script>
</div>
{% endblock %}