{% extends 'RecognizeAdminThemeBundle::index.html.twig' %}
{% trans_default_domain 'filemanager' %}
{% block scripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/recognizefilemanager/js/jstree.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/recognizefilemanager/js/jquery.contextmenu.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/recognizefilemanager/js/SimpleAjaxUploader.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/recognizefilemanager/js/FilemanagerEventHandler.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/recognizefilemanager/js/FileTree.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/recognizefilemanager/js/FilemanagerApi.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/recognizefilemanager/js/FileTreeView.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/recognizefilemanager/js/filemanager.jquery.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/recognizefilemanager/themes/bootstrap/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/recognizefilemanager/styles/jquery.contextmenu.css') }}" />

{% endblock %}
{% block mainmenu %}{% include('RecognizeAdminThemeBundle::examples/components/menu-filemanager.html.twig') %}{% endblock %}
{% block content %}
<div class="filetree">
    <div class="row" style="display: block; margin-top: 20px;">
        <div class="options-area">
            <div class="options col-xs-12" style="margin-bottom: 10px;">
                <span class="pull-left">
                    <a href="#" class="btn upload-button" data-fm-functionality="upload_button" title="{{ 'upload'|trans }}">
                        <i class="fa fa-upload fa-lg"></i>
                        <span>{{ 'upload'|trans }}</span>
                    </a>

                    <a href="#" class="btn" data-fm-functionality="create_directory">
                        <i class="fa fa-folder fa-lg"></i>
                        <span class="hidden-xs">{{ 'create_directory'|trans }}</span>
                    </a>

                    <a href="#" class="btn" data-fm-functionality="refresh">
                        <i class="fa fa-refresh fa-lg"></i>
                        <span class="hidden-xs">{{ 'refresh'|trans }}</span>
                    </a>
                </span>

                <span class="pull-right">
                    <span class="btn-group">
                        <a href="#" class="btn btn-default" data-fm-functionality="set_list">
                            <i class="fa fa-list fa-lg"></i>
                            <span class="hidden-xs">{{ 'list_view'|trans }}</span>
                        </a>

                        <a href="#" class="btn" data-fm-functionality="set_grid">
                            <i class="fa fa-th fa-lg"></i>
                            <span class="hidden-xs">{{ 'grid_view'|trans }}</span>
                        </a>
                    </span>
                </span>
            </div>

            <div class="upload-area col-xs-12" style="display: none;">
                <a href="#" class="upload-cancel-button btn btn-danger col-sm-1 col-xs-3 no-r-c-right" style="padding-left: 0px; padding-right: 0px;" data-fm-functionality="abort_upload">
                    <i class="fa fa-lg fa-times" style="display:inline-block;"></i>
                    <span class="hidden-xxs-inline">{{ 'cancel_upload'|trans }}</span>
                </a>
                <span class="col-sm-11 col-xs-9" style="padding-left: 0px; padding-right: 0px;">
                    <div id="progressOuter" class="progress progress-striped active no-r-c-left" style="display:block; height: 37px; margin-bottom: 10px;">
                        <div id="progressBar" data-fm-functionality="upload_progress" class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 30%"></div>
                    </div>
                </span>
            </div>
        </div>

        <div class="col-xs-12 navigation-area" style="margin-bottom: 10px;">

            <a href="#" class="btn btn-primary directory-up col-sm-9 col-xs-9 no-r-c-right" data-fm-functionality="directory_up">
                <span class="pull-left">
                    <i class="fa fa-lg fa-flip-horizontal fa-level-up"></i>
                    <i class="fa fa-lg fa-folder-open"></i>
                    <span data-fm-value="current_directory">

                    </span>
                </span>
            </a>
            <span class="search-input col-sm-3 col-xs-9" style="padding-left: 0px; padding-right: 0px;">
                <input class="form-control no-r-c-right-xs" style="height: 37px; padding-bottom: 5px;" type="search" name="searchvalue" placeholder="{{ 'search'|trans }}" data-fm-functionality="search" />
            </span>
            <a href="#" class="btn btn-default search-button visible-xs col-xs-3 no-r-c-left-xs">
                <i class="fa fa-search fa-lg"></i>
                <span class="hidden-xxs-inline">{{ 'search'|trans }}</span>
            </a>
        </div>
    </div>

    <div class="row overlayreference">
        <div class="directories col-sm-3 hidden-xs" data-fm-value="directories">
            <!-- Directories go here -->
        </div>
        <div id="filemanager_view" class="mainview col-sm-9 col-xs-12">
            <div class="table-responsive" data-fm-show="list_view">
                <table class="table table-striped table-hover table-bordered table-keyboard-nav">
                    <thead>
                        <tr>
                            <th tabindex="0" data-fm-functionality="sort_filename" class="noselect tabfocus sort-by-filename">{{ 'file.name'|trans }} <i class="fa fa-caret-down pull-right"></i></th>
                            <th tabindex="0" data-fm-functionality="sort_size" class="noselect tabfocus sort-by-filesize">{{ 'file.size'|trans }} <i class="fa fa-caret-up pull-right"></i></th>
                            <th tabindex="0" data-fm-functionality="sort_date_modified" class="noselect tabfocus sort-by-date">{{ 'file.date_modified'|trans }} <i class="fa fa-caret-up pull-right"></i></th>
                        </tr>
                    </thead>
                    <tbody data-fm-value="list_content">
                        <!-- Content goes here -->
                    </tbody>
                </table>
            </div>
            <div class="row" data-fm-show="grid_view" data-fm-value="grid_content">
                <!-- Content goes here -->
            </div>
            <div data-fm-show="no_search_results">
                <span>{{ 'no_search_results_found_for'|trans }} "<span data-fm-value="search_query"></span>"</span>
            </div>
            <div data-fm-show="no_content">
                <span>{{ 'no_content'|trans }}</span>
            </div>
        </div>
        <div class="overlay" style="background: rgba(0,0,0, 0.1); z-index: 100; display: none; position: absolute;">
            <i class="fa fa-pulse fa-spinner" style="display: table-cell; vertical-align: middle; font-size: 45px; color: black; text-align: center; width: 100%;"></i>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            var directory_up = $(".filetree .directory-up");
            var search_container = $(".filetree .search-input");
            var search_input = $(".filetree .search-input input");

            if( $(window).width() <= 768 ){
                search_container.hide();

                var is_search_visible = false;

                search_input.on("blur",function (){
                    var searchquery = search_input.val();
                    if( searchquery !== ""){
                        $('.filetree').data("filemanager").search( searchquery );
                    }
                });

                $(".filetree .search-button").on("click", function(){

                    if( directory_up.is(":visible") ){
                        directory_up.hide();
                        search_container.show();
                        search_input.focus();
                    } else {
                        directory_up.show();
                        search_container.hide();
                    }
                });
            }
        });

        var filetree = $('.filetree').filemanager({ debug: true,
            api: { url: window.location.origin + "/admin/fileapi", startingDirectory: "" },

            i18n: {
                rename: "{{ 'rename_file'|trans }}",
                cut: "{{ 'cut_file'|trans }}",
                paste: "{{ 'paste_file'|trans }}",
                download: "{{ 'download_file'|trans }}",
                "delete": "{{ 'delete_file'|trans }}"
            },

            filerowFormat: function( file ){

                // Set the icon as a file or a directory
                var icon = "<i class=\"fa fa-file-o pull-left\"></i>";
                if( file.type == "dir" ){
                    icon = "<i class=\"fa fa-folder-open pull-left\"></i>";
                }

                return "<tr tabindex=\"0\" class=\"noselect\"><td class=\"col-sm-3 col-xs-6\">" + icon + file.name + "</td><td class=\"col-xs-1\">" + file.size  + "</td><td class=\"col-xs-1\">" + file.date_modified  + "</td></tr>";
            },

            renamerowFormat: function( file ){

                // Set the icon as a file or a directory
                var icon = "<i class=\"fa fa-file-o pull-left\"></i>";
                if( file.type == "dir" ){
                    icon = "<i class=\"fa fa-folder-open pull-left\"></i>";
                }

                var name = $( file.name );
                name.addClass('form-control');
                var content = $('<div></div>');
                content.append( name );
                return "<tr tabindex=\"0\" class=\"noselect\"><td class=\"col-sm-3 col-xs-6\">" + icon + content.get(0).innerHTML + "</td><td class=\"col-xs-1\">" + file.size  + "</td><td class=\"col-xs-1\">" + file.date_modified  + "</td></tr>";
            },

            fileCellFormat: function( file ){

                // Set the icon as a file or a directory
                var icon = "<i class=\"fa fa-file-o\" style=\"display: block; font-size: 70px;\"></i>";
                if( file.type == "dir" ){
                    icon = "<i class=\"fa fa-folder-open\" style=\"display: block; font-size: 70px;\"></i>";
                }

                if( typeof file.preview !== "undefined") {
                    icon = "<img src=\"" + location.origin + file.preview + "\" style=\"max-width: 70px; max-height: 70px;\" />";
                }

                var contents = "<span style=\"display:block; overflow: hidden;  word-wrap: break-word;\">" + file.name + "</span>";
                contents += "<span style=\"display:block; overflow: hidden; word-wrap: break-word;\">" + file.size + "</span>";

                return "<a href=\"#\" style=\"text-align: center; color: #000000; height: 150px; width: 150px; margin-right: 10px; margin-bottom: 10px; display: inline-block;\">" + icon + contents + "</div>";
            },

            renamecellFormat: function( file ){

                // Set the icon as a file or a directory
                var icon = "<i class=\"fa fa-file-o\" style=\"display: block; font-size: 70px;\"></i>";
                if( file.type == "dir" ){
                    icon = "<i class=\"fa fa-folder-open\" style=\"display: block; font-size: 70px;\"></i>";
                }

                var contents = "<span style=\"display:block; overflow: hidden;  word-wrap: break-word;\">" + file.name + "</span>";
                contents += "<span style=\"display:block; overflow: hidden; word-wrap: break-word;\">" + file.size + "</span>";

                return "<a href=\"#\" style=\"text-align: center; color: #000000; height: 150px; width: 150px; margin-right: 10px; margin-bottom: 10px; display: inline-block;\">" + icon + contents + "</div>";
            },


            uploadFormat: function( action, buttonid ){
                return "<div class=\"col-sm-2\"><a href=\"#\" class=\"btn\" id=\"" + buttonid + "\">Upload</a></div>";
            }

        // Add a loading animation
        }).data("filemanager").on("filemanager:api:loading", function(){
            var overlayreference = $( ".overlayreference" );
            var rowPos = overlayreference.offset();
            var bottomTop = rowPos.top;
            var bottomLeft = rowPos.left;

            $(".overlay").css("top", bottomTop).css("left", bottomLeft).css("width", overlayreference.width())
                    .css("height", overlayreference.height())
                    .css("display", "table");

        // Hide the loading animation after the content has been rendered
        }).data("filemanager").on("filemanager:view:rendered", function(){
            $(".overlay").css("display", "none");
        }).data("filemanager").on("filemanager:api:error", function(){
            $(".overlay").css("display", "none");
        }).data("filemanager").on("filemanager:api:uploading", function(){

            $(".filetree .options").hide();
            $(".filetree .upload-area").show();

            $(".upload-cancel-button").focus();

        }).data("filemanager").on("filemanager:api:upload_done", function(){

            $(".filetree .options").show();
            $(".filetree .upload-area").hide();
        });

        $('.sort-by-filename').on("click",function( event ){
            $( this ).children("i").toggleClass('fa-caret-up').toggleClass('fa-caret-down');
        });

        $('.sort-by-filesize').on("click",function( event ){
            $( this ).children("i").toggleClass('fa-caret-up').toggleClass('fa-caret-down');
        });

        $('.sort-by-date').on("click",function( event ){
            $( this ).children("i").toggleClass('fa-caret-up').toggleClass('fa-caret-down');
        });
    </script>
</div>
{% endblock %}