{% use "bootstrap_3_layout.html.twig" %}

{% block checkbox_radio_label %}
    {# Do no display the label if widget is not defined in order to prevent double label rendering #}
    {% if widget is defined %}
        {% set default_label_attr = {'for': id} %}

        {% if required %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if parent_label_class is defined %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
        {% endif %}
        {% if label is not sameas(false) and label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        {% set label_attr = default_label_attr|merge( label_attr ) %}
        {{ widget|raw }}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {{ label is not sameas(false) ? label|trans({}, translation_domain) }}
        </label>
    {% endif %}
{% endblock checkbox_radio_label %}

{% block datepicker_widget %}
    {% apply spaceless %}

        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
        <div class="input-group">
            <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
            <span class="input-group-addon focusable">
                <i class="fa fa-calendar"></i>
            </span>
            <script type="text/javascript">
                $(document).ready(function(){
                    $("#{{ id }}").siblings('.input-group-addon').on("click", function(){
                        $("#{{ id }}").focus();
                    });
                });
            </script>
        </div>

        {% if locale is not defined %}
            {% if app.request is not null %}
                {% set locale = app.request.getLocale() %}
            {% else %}
                {% set locale = 'en' %}
            {% endif %}
        {% endif %}

        {% set translation_js = datepicker_locale( locale ) %}
        {% if translation_js != "" %}
            <script type="text/javascript">
                {{ translation_js | raw }}
            </script>
        {% endif %}
        <script type="text/javascript">
            $( document).ready(function() {
                {% if app.environment == "dev" %}
                if( $.isFunction("datepicker")){
                    console.error("Bootstrap datepicker wasn't included in the HTML");
                } else {
                    $( "#{{ id }}").datepicker({
                        "language": '{{ locale }}'
                    });
                }
                {% else %}
                $( "#{{ id }}").datepicker({
                    "language": '{{ locale }}'
                });
                {% endif %}
            });
        </script>
    {% endapply %}
{% endblock %}

