{% if column_name is not defined %}{% set column_name = "" %}{% endif %}
{% if title is not defined %}{% set title = "" %}{% endif %}
{% if is_sortable is not defined %}{% set is_sortable = true %}{% endif %}
{% if sort is not defined %}{% set sort = null %}{% if app is defined %}{% set sort = app.request.get("sort_" ~ column_name) %}{% endif %}{% endif %}
{% if is_searchable is not defined %}{% set is_searchable = true %}{% endif %}
{% if search is not defined %}{% set search = "" %}{% if app is defined %}{% set search = app.request.get("search_" ~ column_name) %}{% endif %}{% endif %}
{% set routeParams = app.request.attributes.get('_route_params')|merge( app.request.query.all() ) %}
<th>
    <span>{{ title }}</span>
    {% if is_searchable or is_sortable %}
    <div class="table-header-query query_{{ column_name }}">
    {% if is_searchable %}
        <div class="table-header-search">
            <div class="search-container {% if search != "" %}open{% endif %}">
                <input class="form-control" type="search" name="search_{{ column_name }}" value="{{ search }}" />
            </div>
            <a href="#" class="search-toggle"><i class="fa {% if search != "" %}fa-close{% else %}fa-search{% endif %}"></i></a>
        </div>
    {% endif %}

    {% if is_sortable %}
        <div class="table-header-sort">
            {% set sort_column = "sort_" ~ column_name %}
            <input type="hidden" name="sort_{{ column_name }}" value="{{ sort }}" />
            {% if sort == null %}
                <a href="{{ url(app.request.get('_route'), routeParams|merge({ ( sort_column ): "asc" }) ) }}"><i class="fa fa-sort"></i></a>
            {% elseif sort == "asc" %}
                <a href="{{ url(app.request.get('_route'), routeParams|merge({ ( sort_column ): "desc" }) ) }}"><i class="fa fa-sort-down"></i></a>
            {% else %}
                <a href="{{ url(app.request.get('_route'), routeParams|merge({ ( sort_column ): null }) ) }}"><i class="fa fa-sort-up"></i></a>
            {% endif %}
        </div>
    {% endif %}
    {% endif %}
    </div>
</th>
