{% if column_name is not defined %}{% set column_name = "" %}{% endif %}
{% set route_column = sort_name( column_name ) %}

{% if title is not defined %}{% set title = "" %}{% endif %}
{% if sort is not defined %}{% set sort = null %}{% if app is defined %}{% set sort = app.request.get( route_column ) %}{% endif %}{% endif %}
{% set routeParams = app.request.attributes.get('_route_params')|merge( app.request.query.all() ) %}
<th>
    <span>{{ title }}</span>
    <div class="table-header query_{{ column_name }}">
        <input type="hidden" name="{{ route_column }}" value="{{ sort }}" />
        {% if sort == null %}
            <a href="{{ url(app.request.get('_route'), routeParams|merge({ (route_column ): "asc" }) ) }}"><i class="fa fa-sort"></i></a>
        {% elseif sort == "asc" %}
            <a href="{{ url(app.request.get('_route'), routeParams|merge({ (route_column ): "desc" }) ) }}"><i class="fa fa-sort-down"></i></a>
        {% else %}
            <a href="{{ url(app.request.get('_route'), routeParams|merge({ (route_column ): null }) ) }}"><i class="fa fa-sort-up"></i></a>
        {% endif %}
    </div>
</th>
